*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    color: #fff;
}
li{
    list-style: none;
}
img{
    vertical-align: top;
    border: none;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(#5621B8,#BC24B7);
    .cirActive{
        animation: cir 10s linear infinite;        
    }
    .cont{
        position: absolute;
        left: 380px;
        top: 90px;
        z-index: 2;
        width: 60px;
        transform: rotate(-65deg);
        transform-origin: 0% 0%;
        //animation: cont 2s linear;
        img{
            width: 60px;
        }
    }
    .cir{
        position: absolute;
        left: 200px;
        top: 150px;
        width: 200px;
        height: 200px;
        border: 50px solid #000000;
        border-radius: 100%;
        //animation: cir 5s linear infinite;
        .cir2{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 200px;
            height: 200px;
            border: 10px solid #ADADAD;
            border-radius: 100%;
            background-image: url(img/c034da7f2b3d682e20b31a31a413d19d.jpg);
            background-size: 200px 200px;
        }
    }
    .detail {
        position: absolute;
        top:120px;
        left:700px;
        width: 400px;
        height: 300px;
        .title{
            margin: 0 auto;
            width: 300px;
            
        }
        .title span:nth-child(1){
            display: block;
            margin: 0 auto;
            width: 200px;
            font-size: 25px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        .title span:nth-child(2){
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-top: 20px;
            width: 200px;
            font-size: 20px;
            height: 50px;
            line-height: 50px;
        }
        .control{
            width: 100%;
            height: 50px;
            margin-top: 50px;
            span{
                margin: 0 7px;
            }
            .cont1{
                float: left;
            }   
            .cont1 span:nth-child(3){
                margin: 0 8px;
                display: none;
            }
            .cont1:hover{
                cursor: pointer;
            }
            .cont2{
                float: right;
            }
            .cont2 :hover{
                cursor: pointer;
            }
            .cont2 :nth-child(3){
                position: relative;
            }
            .cont2 :nth-child(3):hover div{
                display: block;
            }
            .cont2 :nth-child(3) div{
                display: none;
                position: absolute;
                top:-500%;
                left:50%;
                height: 100px;
                width: 6px;
                border: 4px solid #FFFDEF;
                background: #fff;
                border-radius: 8px;
                transform: rotate(180deg);
                i{
                    display: block;
                    background: #EC971F;
                    height: 50px;
                    width: 6px;
                    border-radius: 4px;
                }
            }
        }
        .proBar{
            .time{
                float: left;
            }
            .bar{
                margin-top: 8px;
                margin-left: 20px;
                float: left;
                .length{
                    position: relative;
                    width: 250px;
                    height: 3px;
                    border: 2px solid #222222;
                    background: #262626;
                    border-radius: 5px;
                    .progress{
                        position: absolute;
                        width: 0px;
                        height: 3px;
                        background: #D0E9C6;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .list{
        position: absolute;
        left:30%;
        bottom: 50px;
        width: 720px;
        height: 100px;
        border-radius: 20px;
        dl{
            width: 200px;
            margin: 0 20px;
            float: left;
            color: #FFFDEF;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #800080;
            dt{
                height: 60px;
                width: 200px;
                text-align: center;
                line-height: 60px;
                font-size: 25px;
                border-radius: 10px;
                background: rgba(255,255,255,0.3);
            }
            dd{
                height: 40px;
                width: 100%;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                text-shadow: 5px 5px 5px #E3E3E3;
               
            }                   
        }   
        dl:hover{
            cursor: pointer;
        }             
        dl:active{
            background: #9723B7;
        }
    }
}
@keyframes cir{
    from{
        transform:  rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}
@keyframes cont{
    from{
        transform: rotate(-65deg);
    }
    to{
        transform: rotate(-30deg);
    }
}

